<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div>
          <img
            src="{{ product.imageUrl }}"
            class="img-responsive"
            width="200px"
          />
          <h3>{{ product.name }}</h3>
          <div class="price">{{ product.unitPrice }}</div>
          <button
            (click)="addTocart()"
            class="btn btn-outline-primary btn-sm mt-2 mb-2"
          >
            Add to Cart
          </button>
          <h4>Product Description</h4>
          <p>
            {{ product.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
